.container {
  height: auto;
  width: auto;
  height: inherit;
  padding: 0;
  margin: 0;
}
@media screen and (min-height: 500px) {
  .container {
    width: auto;
    height: auto;
    background-color: hotpink;
  }
}
